<!doctype html>
<html lang="">
<head>

	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#unless dev}}{{#if fabricator}}<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/{{ [fabricator/scripts/f].css }}">{{/if}}{{/unless}}

	<!-- toolkit styles -->
	{{#unless dev}}<link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/{{ [toolkit/scripts/toolkit].css }}">{{/unless}}
	<!-- /toolkit styles -->

</head>
<body>

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}


	{% body %}

	{{#if fabricator}}
		</div>
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/{{ [fabricator/scripts/f].js }}"></script>
	{{/if}}

	<!-- toolkit scripts -->
	<script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/{{ [toolkit/scripts/toolkit].js }}"></script>
	<!-- /toolkit scripts -->

</body>
</html>
